name: smart_debouncer_example
description: Example app demonstrating SmartDebouncer usage for address search.
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  smart_debouncer:
    path: ../
